# Dependency directories
node_modules
bower_components

# server configuration
_config.yml

# debug information
*.log
*.sql

# generate by hand adjustment script
*.csv

# server upload temporary file dictionary
/files

# https SSL
*.pem
*.csr

# gulp produce
public/javascripts/MathJax/
