<div class="header">
	<h1><%= __('Domain') %></h1>
	<h2>You have to belive in yourself. That's the secret of success. </h2>
</div>
<div class="content">

<style>
.custom-border {
    height: 200px;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 0.5em;
    padding: 1em 3em;
}
.custom-domain h1 a {
    text-decoration: none;
}
</style>

<div class="pure-g">
	<div class="pure-u-1-1 custom-domain">
		<div class="custom-border">
            <div>
                <h1 class="text-box-head"><a href="/problems/domain/0">The C Programming</a></h1>
                <div id="tag-C"></div>
            </div>
        </div>

        <div class="custom-border">
            <div>
                <h1 class="text-box-head"><a href="/problems/domain/1">Parallel Programming</a></h1>
                <div id="tagPP"></div>
            </div>
        </div>
	</div>
</div>

</div>