<div class="header">
	<h1 class='article-title'><%= __('Dashboard') %></h1>
    <h2>Administrator</h2>
</div>
<div class="content">
	<%- include('../_partial/widget/nav')%>
	<h2><%= __('Notice') %></h2>
	<p>測資上傳仍未實作，請手動部屬檔案</p>
</div>
