<div class="header">
	<h1 class='article-title'><%= __('Dashboard') %></h1>
    <h2>Administrator</h2>
</div>
<div class="content">
	<%- include('../_partial/widget/nav')%>
	<h2><%= __('Notice') %></h2>
	<p>題目描述編輯、公告描述編輯功能支持</p>
	<p>考試部份目前只提供檢視</p>
</div>
