<div class="header">
	<h1 class='article-title'><%= __('Manage Grade') %></h1>
    <h2>Administrator</h2>
</div>
<div class="content">
	<%- include('../_partial/widget/nav')%>
	<h2><%= __('Notice') %></h2>
</div>
