<div class="header">
	<h1 class='article-title'><%= __('Archive') %></h1>
    <h2>Take your passion and make it come true.</h2>
</div>
<div class="content">
<%- archive_content %>
<%- include('widget/recent_comment') %>
</div>
