<link rel="stylesheet" type="text/css" href="/stylesheets/shThemeDefault.css" />

<div class="header">
  <h1 class='article-title'>Source Code</h1>
  <h2>Share your idea. You will get more.</h2>
</div>
<div class="content">
<div class="pure-menu pure-menu-horizontal">

<ul class="pure-menu-list">
  <li class="pure-menu-item"><a class="pure-menu-link" href="/source/<%- sid %>" target="_blank" style="text-decoration: none; font-family: Consolas, Bitstream Vera Sans Mono, Courier New, Courier, monospace !important;"><i class="fa fa-file"></i> plain</a></li>
</ul>

</div>

  <div class="pure-g">

      <div class="pure-u-5-5">
          <%- html_code %>
      </div>
  </div>

  <%- include('widget/disqus') %>
</div>


