<div class="header">
	<h1 class='article-title'>Score</h1>
	<h2><%- userinfo.info.lgn  %></h2>
</div>
<div class="content">

<table class="pure-table pure-table-bordered" style='width: 100%;'>
	<thead>
	<tr>
		<th>Student</th>
		<%
			var thead = score.thead;
			var tbody = score.tbody;
		%>
		<% for (var i in thead) { %>
			<th><%- thead[i].ttl %></th>
		<% } %>
		%>
	</tr>
	</thead>
	<tbody>
		<% 
			var record = {};
			for (var i = 0; tbody && i < tbody.length; i++) {
				record[tbody[i].lgn] = {};
			}
			for (var i in record) {
				for (var j = 0; j < thead.length; j++)
					record[i][thead[j].eid] = {};
			}
			for (var i = 0; tbody && i < tbody.length; i++) {
				record[tbody[i].lgn][tbody[i].eid] = tbody[i].score;
			}
		%>
		<% for (var i = 0; tbody && i < tbody.length; i++) { %>
			<tr>
				<td><strong><%- tbody[i].lgn %></strong></td>
				<% for (var j = 0; j < thead.length; j++) { %>
					<td><%- record[tbody[i].lgn][thead[j].eid] %></td>
				<% } %>
			</tr>
		<% } %>
	</tbody>
</table>
</div>

