<div class="header">
    <h1 class='article-title'>Style Checker
        <a title="Github" href="<%- site.HOST.style_checker %>" target="_blank">
        <i class="fa fa-github-square" style="color:black"></i></a>
    </h1>
    <h2>Refactor yourself.</h2>
</div>
<div class="content">
    <h3>Report</h3>
    <div class="pure-g">
        <div class="pure-u-5-5">
            <pre><%- report_raw %></pre>
        </div>
    </div>
</div>

