<div class="header">
	<h1>Forbidden Page</h1>
	<h2>If you have any problem, please contact TA.</h2>
</div>
<div>
<% if (sysmsg && sysmsg.length > 0) { %>
	<div class='sysmsg'><%- sysmsg %></div>
<% } %>
</div>
